<div id="main">
 <div id="sidebar">
 <%=render :partial => "/department/deppartial" %>
 </div>


<div id="content">
<div id="box1">
 <table border=1>
  <tr>
      <th>#</th>
      <th>Id</th>
      <th>Department name</th>
      <th>Email</th>
      <th>action1</th>
      <th>action2</th>
   </tr>
<%@a=1%>
<% @dep.each do |f|%>
<tr>
<td><%=@a%></td>
<td><%=f.id%></td>     

<td><%=f.name%></td>
<td><%=f.email_id%></td>
<td><%=link_to "Delete","/department/destroy/#{f.id}",:method=>'delete' %></td>
<td><%=link_to "Edit","/department/edit/#{f.id}",:method=>'update' %></td>
<%@a=@a+1%>
</tr>
<%end%>
</table>
</div>
</div>
</div>
