<div id="main">
 <div id="sidebar">
 <%=render :partial => "/ticket/partialnew" %>
 </div>


<div id="content">
<div id="box1">

<table border=1>
   <tr>
      <th>#</th>
      <th>ID</th>
      <th>Date</th>
      <th>Client</th>
      <th>Ticket</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Action</th>
   </tr>
<%@a=1%>
<% @ticket.each do |f|%>
<tr>
<td><%=@a%></td>
<td><%=f.id%></td>
<td><%=f.created_at%></td>
<% @user.each do |u|%>
<% if f.submittedby==u.id %>
<td><%=u.fullname%>
<%end%>
<%end%>
<td><%=link_to f.subject, "/ticket/assign/#{f.id}",:method=>'assign' %></td>
<td><%=f.priority%></td>
<td><%=f.status%></td>
<td><%=link_to "Delete","/ticket/destroy/#{f.id}",:method=>'delete' %></td>

</tr>
<%@a=@a+1%>
<%end%>
</table>
<%= will_paginate @ticket %>

</div>
</div>
</div>